@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}